body {
    color: #777777; 
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px; 
    background-image: url("../Images/background.png");
}

.topgrid {
    display: grid;
    grid-template-columns: 25% 20% 15% 15% 25%;
    color: #cccccc; 
    border-bottom: solid; 
    background: #ffffff; 
}

h1 {
    font-family: "Georgia", 'Times New Roman', Times, serif;
}

.toptab {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.navbar {
    align-self: center;
    justify-content: space-evenly;
    word-spacing: 10px; 
}

.navbar a {
    text-decoration: none;
}

.centerblock {
    /* background-image: url("../Images/background.png"); */
    position: relative;
    width: 100%;   
}

.whitebox {
    position: relative;
    background: white;
    margin: 5% 25%; 
    border: solid;
    border-color: #dddddd;
    overflow: auto;
}

hr {
    background-color:#dddddd;
    height: 3px; 
}

#mypic {
    transform: rotate(90deg);
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px; 
}

.aboutme {
    color: #4aaaa5;
    margin-left: 20px; 
    margin-right: 20px;
}

.ptext {
    color: #777777;
    width: 100%; 
    margin-top: -16px; 
}

.portfoliopics {
    position: relative; 
}

.float {
    float:left; 
    position: relative; 
    margin: 20px 40px 20px 0px; 
}

.textonpic {
    position: absolute;
    bottom: 30px; 
    width: 200px;
    height: 50px; 
    background-color: #4aaaa5; 
    color: #ffffff; 
    text-align: center;
}

#formtext{
    color: #777777; 
    height: 500px; 
}

.form {
    width: 100%;
}

#formmesssage {
    padding: 50px 0px; 
}

#button {
    background-color: #4aaaa5;
    color: #ffffff; 
    padding: 5px 10px; 
    margin-bottom: 10px; 
}

.teal {
    background-color: #4aaaa5;
    height: 5px; 
}

.grey {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 70%;
    /* height: 20px;  */
    padding: 30px 10px 10px 10px; 
}

.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.clearfix:after {
    display: block;
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.clearfix {
   *zoom: 1;
}